# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual Environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
.settings/

# OS
.DS_Store
Thumbs.db

# Gradio cache
gradio_cached_examples/
